<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav th:fragment="navigation" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Vaccination system</a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasRole('ROLE_DOCTOR')">
                <a class="nav-link" href="/queue/all">All Requests</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_DOCTOR')">
                <a class="nav-link" href="/queue/past">Past</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_DOCTOR')">
                <a class="nav-link" href="/queue/upcoming">Upcoming</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_PATIENT')">
                <a class="nav-link" href="/profile">My profile</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_PATIENT')">
                <a class="nav-link" th:href="@{/diary/{patientId}(patientId=${#authentication.getName()})}">Temperature diary</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>
</html>