<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" type="text/css" media="all"/>
</head>
<div th:replace="fragments/navbar.html :: navigation"></div>
<body>
<div class="custom-form">
    <form th:action="@{/login-processing}" th:object="${person}" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" th:field="*{username}" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" th:field="*{password}"
                   required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
    <p class="text-center"><a th:href="@{/signup}">Don't have an account? Sign up</a></p>

    <div class="errors-div" th:if="${error != null}">
        <div class="alert alert-danger" role="alert" th:text="${error}">
        </div>
    </div>

</div>
</body>
</html>